body {
    padding: 0;
    margin: 0;
    background-image: url(images/slideshow-image2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
#menu {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    width: auto;
    margin: 20px auto;
    height: 50px;
}
#menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#menu ul li {
    width: auto;
}
#menu ul li.nivel1 { 
    float: left; 
    margin-right: 1px;
}
#menu ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    background-color: #E91D75; 
    padding: 0 10px;
    position: relative;
}
#menu ul li a.nivel1 {
    height:40px;
}
#menu ul li a.nivel2, #menu ul li a.nivel2 {
    color: #000;
}
#menu ul li a.nivel1, #menu ul li a.nivel2{
    display: block!important;
    display: none;
    position: relative;
}
#menu ul li:hover {
    position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
    background-color: #E91D75;
    color: #000;
    position: relative;
}
#menu ul li ul {
    display: none;
}
#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
    display: block;
    position: absolute;
    left: 0px;
}
#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 121px!important;
    left: 121px;
    top:0px!important;
    top: 0px;
}
#menu ul li ul li a {
    width: 120px;
    padding: 4px 0px;
    border-top-color: transparent;
}
#menu ul li ul li a:hover {
    border-top-color: #000;
    position: relative;
}
#menu ul li ul li ul li a.primera {
    border-top-color: #fff;
}
#menu ul li ul li ul li a:hover ul.nivel4, #menu ul li ul li ul li:hover ul.nivel4 {
    display: block;
    position: absolute;
    left: 121px;
    top:0px!important;
    top: 0px;
}
#menu ul li a.nivel1{ 
    background-color: transparent;
    border: none;
    align-items: center;
    display: flex;
}

#menuhor {  
    font-size: 12px;
}
#menuhor ul { 
    list-style-type: none;
}
#menuhor ul li.niv1 { 
    width: 162px;
}
#menuhor ul li { 
    text-align: center;
}
#menuhor ul li { 

}
#menuhor ul li a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    padding: 8px 8px 9px;
    position: relative;
}
#menuhor ul li:hover {
    position: relative;
    background-color: #E91D75;
    color: #000;
}
#menuhor ul li a:hover, #menuhor ul li:hover a.niv1 {
    background-color: #E91D75;
    color: #000;
    position: relative;
}
#menuhor ul li a.niv1 {
    display: block!important;
    display: none;
    position: relative;
}
#menuhor ul li ul {
    display: none;
}
#menuhor ul li:hover > ul {
    display: block;
    position: absolute;
    left: 161px;top:-1px;
}
#menuhor ul li ul li a {
    width: 144px;
    background-color: #E91D75;
    color: #FFF;
    position: relative;
}
#menuhor ul li ul li:hover {
    position: relative;
    background-color: #E91D75;
    color: #000;
}
#menuhor ul li a.niv1 {
    width: 144px;
    padding: 4px;
}
#menuhor ul li a.subniv {
    padding-bottom: 8px;
}
#menuhor ul li a:hover ul.niv2, #menuhor ul.niv2 li a:hover ul.niv3, #menuhor ul.niv3 li a:hover ul.niv4 {
    display: block;
    position: absolute;
    left: 160px;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
header{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding:0 10px; 
}
header img{
    padding-top : 10px;
    display:flex;
    align-items: center;
}
.manual{
    border-style: solid;
    border-color: transparent transparent #E91D75 transparent;
    border-width: 0 100px 100px 100px;
    height: 20px;
    left: 0px;
    top: 0;
    width: 0px;
    position: relative;
    margin: 10px 0 10px 200px;
    justify-content: center;
    text-align: center;
}
.manual a{
    color: white;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
}
.manual ul.tittle{
    position: absolute;
    bottom: -100px;
    left: -30px;
    margin: 0;
}
.politicas{
    border-style: solid;
    border-color: transparent transparent #E91D75 transparent;
    border-width: 0 50px 50px 50px;
    height: 0;
    width: 200px;
    position: relative;
    margin: 10px 0 10px 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.politicas a.tittle{
    color: white;
    font-size: 13px;
}
.politicas nav ul{
    padding: 0;
    margin: 0;
}
.procedimientos{ 
    border-style: solid;
    border-color: transparent transparent #E91D75 transparent;
    border-width: 0 50px 50px 50px;
    height: 0;
    width: 300px;
    position: relative;
    margin: 10px 0 10px 100px;
    display: flex; 
    justify-content: center;
}
.procedimientos a.tittle{
    color: white;
    font-size: 17px;
}
.procedimientos nav ul{
    padding: 0;
}
.instructivo{
    border-style: solid;
    border-color: transparent transparent #E91D75 transparent;
    border-width: 0 50px 50px 50px;
    height: 0;
    width: 400px;
    position: relative;
    margin: 10px 0 10px 50px;
    display: flex;
    justify-content: center;
}
.instructivo a.tittle{
    color: white;
    font-size: 17px;
}
.instructivo nav ul{
    padding: 0;
}
.ForyReg{
    border-style: solid;
    border-color: transparent transparent #E91D75 transparent;
    border-width: 0 50px 50px 50px;
    height: 0;
    width: 500px;
    position: relative;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}
.ForyReg a.tittle{
    color: white;
    font-size: 13px;
}
.ForyReg nav ul{
    padding: 0;
}

.cuerpo {
    flex: 1;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cuerpo img{
    margin-left: 20px;
    width: 600px;
}
.piramide{
    width: 600px;
}
footer{
    height: 50px;
    color:white;
}

.externos{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.externos a.nivel1{
    font-size: 25px;
}
.externos nav ul{
    padding: 0;
    margin: 0;
}