body {
    padding: 0;
    margin: 0;
    background-image: url(images/slideshow-image2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
#menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#menu ul li {
    width: auto;
}
#menu ul li.nivel1 { 
    float: left; 
    margin-right: 1px;
}
#menu ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    background-color: #E91D75; 
    padding: 0 10px;
    position: relative;
}
#menu ul li a.nivel1 {
    height:40px;
}
#menu ul li a.nivel2, #menu ul li a.nivel2 {
    color: #000;
}
#menu ul li a.nivel1, #menu ul li a.nivel2{
    display: block!important;
    display: none;
    position: relative;
}
#menu ul li:hover {
    position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
    background-color: #E91D75;
    color: #000;
    position: relative;
}
#menu ul li ul {
    display: none;
}
#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
    display: block;
    position: absolute;
    left: 0px;
}
#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 121px!important;
    left: 121px;
    top:0px!important;
    top: 0px;
}
#menu ul li ul li a {
    width: 120px;
    padding: 4px 0px;
    border-top-color: transparent;
}
#menu ul li ul li a:hover {
    border-top-color: #000;
    position: relative;
}
#menu ul li ul li ul li a.primera {
    border-top-color: #fff;
}
#menu ul li ul li ul li a:hover ul.nivel4, #menu ul li ul li ul li:hover ul.nivel4 {
    display: block;
    position: absolute;
    left: 121px;
    top:0px!important;
    top: 0px;
}
#menu ul li a.nivel1{ 
    background-color: transparent;
    border: none;
    align-items: center;
    display: flex;
}

#menuhor {  
    font-size: 12px;
}
#menuhor ul { 
    list-style-type: none;
}
#menuhor ul li.niv1 { 
    width: 162px;
}
#menuhor ul li { 
    text-align: center;
}
#menuhor ul li { 

}
#menuhor ul li a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    padding: 8px 8px 9px;
    position: relative;
}
#menuhor ul li:hover {
    position: relative;
    background-color: #E91D75;
    color: #000;
}
#menuhor ul li a:hover, #menuhor ul li:hover a.niv1 {
    background-color: #E91D75;
    color: #000;
    position: relative;
}
#menuhor ul li a.niv1 {
    display: block!important;
    display: none;
    position: relative;
}
#menuhor ul li ul {
    display: none;
}
#menuhor ul li:hover > ul {
    display: block;
    position: absolute;
    left: 161px;top:-1px;
}
#menuhor ul li ul li a {
    width: 144px;
    background-color: #E91D75;
    color: #FFF;
    position: relative;
}
#menuhor ul li ul li:hover {
    position: relative;
    background-color: #E91D75;
    color: #000;
}
#menuhor ul li a.niv1 {
    width: 144px;
    padding: 4px;
}
#menuhor ul li a.subniv {
    padding-bottom: 8px;
}
#menuhor ul li a:hover ul.niv2, #menuhor ul.niv2 li a:hover ul.niv3, #menuhor ul.niv3 li a:hover ul.niv4 {
    display: block;
    position: absolute;
    left: 160px;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
.piramide{
    width: 600px;
}
footer{
    height: 50px;
    color:white;
}

@media screen and (min-width: 800px)
{
    #menu {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    width: auto;
    margin: 0 auto;
    height: 50px;
    top: 0px;
    padding: 40px 0;
}
    img.sgc{
        position: absolute;
         width: 120px;
         top: 10px;
         left: 10px;
    }
    img.inari{
        position: absolute;
         width: 60px;
         top: 10px;
         right: 10px;
    }
    .manual{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 7.32vw 7.32vw 7.32vw;
        height: 1.46vw;
        left: 0px;
        top: 0;
        width: 0px;
        position: relative;
        margin: 0.73vw 0 0.73vw 14.64vw;
        justify-content: center;
        text-align: center;
    }
    .manual a{
        color: white;
        font-size: 1.1vw;
        list-style: none;
        text-decoration: none;
    }
    .manual ul.tittle{
        position: absolute;
        bottom: -7.32vw;
        left: -2.195vw;
        margin: 0;
    }
    .politicas{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 3.66vw 3.66vw 3.66vw;
        height: 0;
        width: 14.64vw;
        position: relative;
        margin: 0.73vw 0 0.73vw 10.98vw;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .politicas a.tittle{
        color: white;
        font-size: 1vw;
    }
    .politicas nav ul{
        padding: 0;
        margin: 0;
    }
    .procedimientos{ 
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 3.66vw 3.66vw 3.66vw;
        height: 0;
        width: 21.96vw;
        position: relative;
        margin: 0.73vw 0 0.73vw 7.32vw;
        display: flex; 
        justify-content: center;
    }
    .procedimientos a.tittle{
        color: white;
        font-size: 1.24vw;
    }
    .procedimientos nav ul{
        padding: 0;
    }
    .instructivo{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 3.66vw 3.66vw 3.66vw;
        height: 0;
        width: 29.28vw;
        position: relative;
        margin: 0.73vw 0 0.73vw 3.66vw;
        display: flex;
        justify-content: center;
    }
    .instructivo a.tittle{
        color: white;
        font-size: 1.24vw;
    }
    .instructivo nav ul{
        padding: 0;
    }
    .ForyReg{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 3.66vw 3.66vw 3.66vw;
        height: 0;
        width: 36.60vw;
        position: relative;
        margin: 0.73vw 0 0.73vw 0;
        display: flex;
        justify-content: center;
    }
    .ForyReg a.tittle{
        color: white;
        font-size: 1.1vw;
    }
    .ForyReg nav ul{
        padding: 0;
        margin: 0;
    }

    .cuerpo {
        flex: 1;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px 0 0 0;
    }
    .cuerpo img{
        margin-left: 20px;
        width: 43vw;
        height: 24vw;
    }
    .externos{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .externos a.nivel1{
        font-size: 2vw;
    }
    .externos nav ul{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 800px)
{
     header{
	    display:flex; 
	    justify-content: space-between;
	    align-items:center;
	    padding: 0; 
    }
    #menu {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    width: auto;
    margin: 0 auto;
    height: 50px;
    top: 0px;
    padding: 0;
}
    img.sgc{
        position: absolute;
         width: 60px;
         top: 10px;
         left: 10px;
    }
    img.inari{
        position: absolute;
         width: 30px;
         top: 10px;
         right: 10px;
    }
    .manual{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 14.64vw 14.64vw 14.64vw;
        height: 2.92vw;
        left: 0px;
        top: 0;
        width: 0px;
        position: relative;
        margin: 1.46vw 0 1.46vw 28.64vw;
        justify-content: center;
        text-align: center;
    }
    .manual a{
        color: white;
        font-size: 2.2vw;
        list-style: none;
        text-decoration: none;
    }
    .manual ul.tittle{
        position: absolute;
        bottom: -14.64vw;
        left: -4.38vw;
        margin: 0;
    }
    .politicas{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 7vw 7vw 7vw;
        height: 0;
        width: 29vw;
        position: relative;
        margin: 1.46vw 0 1.46vw 21.96vw;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .politicas a.tittle{
        color: white;
        font-size: 1.5vw;
    }
    .politicas nav ul{
        padding: 0;
        margin: 0;
    }
    .procedimientos{ 
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 7vw 7vw 7vw;
        height: 0;
        width: 43.92vw;
        position: relative;
        margin: 1.46vw 0 1.46vw 14.64vw;
        display: flex; 
        justify-content: center;
    }
    .procedimientos a.tittle{
        color: white;
        font-size: 2.48vw;
    }
    .procedimientos nav ul{
        padding: 0;
    }
    .instructivo{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 7.32vw 7.32vw 7.32vw;
        height: 0;
        width: 58.56vw;
        position: relative;
        margin: 1.46vw 0 1.46vw 7.32vw;
        display: flex;
        justify-content: center;
    }
    .instructivo a.tittle{
        color: white;
        font-size: 2.48vw;
    }
    .instructivo nav ul{
        padding: 0;
    }
    .ForyReg{
        border-style: solid;
        border-color: transparent transparent #E91D75 transparent;
        border-width: 0 7.32vw 7.32vw 7.32vw;
        height: 0;
        width: 73.20vw;
        position: relative;
        margin: 1.46vw 0 1.46vw 0;
        display: flex;
        justify-content: center;
    }
    .ForyReg a.tittle{
        color: white;
        font-size: 1.7vw;
    }
    .ForyReg nav ul{
        padding: 0;
        margin: 0;
    }

    .cuerpo {
        flex: 1;
        width: inherit;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
        padding: 40px 0 0 0;
    }
    .cuerpo img{
        margin-left: 20px;
        width: 86vw;
        height: 48vw;
    }
    .externos{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .externos a.nivel1{
        font-size: 2vw;
    }
    .externos nav ul{
        padding: 0;
        margin: 0;
    }
}
